<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-leancloud" version="0.1.2">
  <name>Cordova LeanCloud</name>
  <js-module src="www/LeanPush.js" name="LeanPush">
    <clobbers target="LeanPush"/>
  </js-module>
  <js-module src="www/LeanAnalytics.js" name="LeanAnalytics">
    <clobbers target="LeanAnalytics"/>
  </js-module>
  <js-module src="www/LeanSocial.js" name="LeanSocial">
    <clobbers target="LeanSocial"/>
  </js-module>
  
  <preference name="LEAN_APP_ID"/>
  <preference name="LEAN_APP_KEY"/>

  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="LeanPush">
        <param name="ios-package" value="CDVLeanPush"/>
      </feature>
      <feature name="LeanAnalytics">
        <param name="ios-package" value="CDVLeanAnalytics"/>
      </feature>
      <preference name="leancloud-appid" value="$LEAN_APP_ID"/>
      <preference name="leancloud-appkey" value="$LEAN_APP_KEY"/>
    </config-file>

    <!-- Plugin source code -->
    <header-file src="src/ios/LeanSocial.h"/>
    <source-file src="src/ios/LeanSocial.m"/>
    <header-file src="src/ios/CDVLeanAnalytics.h"/>
    <source-file src="src/ios/CDVLeanAnalytics.m"/>
    <header-file src="src/ios/CDVLeanPush.h"/>
    <source-file src="src/ios/CDVLeanPush.m"/>
    <header-file src="src/ios/AppDelegate+LeanPush.h"/>
    <source-file src="src/ios/AppDelegate+LeanPush.m"/>

    <header-file src="src/ios/LeanSocial/AVOSCloudSNS_.h"/>
    <header-file src="src/ios/LeanSocial/AVOSCloudSNS.h"/>
    <source-file src="src/ios/LeanSocial/AVOSCloudSNS.m"/>
    <header-file src="src/ios/LeanSocial/AVOSCloudSNSUtils.h"/>
    <source-file src="src/ios/LeanSocial/AVOSCloudSNSUtils.m"/>
    <header-file src="src/ios/LeanSocial/AVSNSHttpClient.h"/>
    <source-file src="src/ios/LeanSocial/AVSNSHttpClient.m"/>
    <header-file src="src/ios/LeanSocial/AVSNSLoginViewController.h"/>
    <source-file src="src/ios/LeanSocial/AVSNSLoginViewController.m"/>
    <header-file src="src/ios/LeanSocial/AVSNSWebViewController.h"/>
    <source-file src="src/ios/LeanSocial/AVSNSWebViewController.m"/>
    <header-file src="src/ios/LeanSocial/AVUser+SNS.h"/>
    <source-file src="src/ios/LeanSocial/AVUser+SNS.m"/>
    <header-file src="src/ios/LeanSocial/AVWebViewController.h"/>
    <source-file src="src/ios/LeanSocial/AVWebViewController.m"/>
    <header-file src="src/ios/LeanSocial/NSURL+AVAdditions.h"/>
    <source-file src="src/ios/LeanSocial/NSURL+AVAdditions.m"/>

    <!-- AFNetworking -->
    <header-file src="src/ios/AFNetworking/AFHTTPRequestOperation.h"/>
    <source-file src="src/ios/AFNetworking/AFHTTPRequestOperation.m"/>
    <header-file src="src/ios/AFNetworking/AFHTTPRequestOperationManager.h"/>
    <source-file src="src/ios/AFNetworking/AFHTTPRequestOperationManager.m"/>
    <header-file src="src/ios/AFNetworking/AFHTTPSessionManager.h"/>
    <source-file src="src/ios/AFNetworking/AFHTTPSessionManager.m"/>
    <header-file src="src/ios/AFNetworking/AFNetworkReachabilityManager.h"/>
    <source-file src="src/ios/AFNetworking/AFNetworkReachabilityManager.m"/>
    <header-file src="src/ios/AFNetworking/AFSecurityPolicy.h"/>
    <source-file src="src/ios/AFNetworking/AFSecurityPolicy.m"/>
    <header-file src="src/ios/AFNetworking/AFURLConnectionOperation.h"/>
    <source-file src="src/ios/AFNetworking/AFURLConnectionOperation.m"/>
    <header-file src="src/ios/AFNetworking/AFURLRequestSerialization.h"/>
    <source-file src="src/ios/AFNetworking/AFURLRequestSerialization.m"/>
    <header-file src="src/ios/AFNetworking/AFURLResponseSerialization.h"/>
    <source-file src="src/ios/AFNetworking/AFURLResponseSerialization.m"/>
    <header-file src="src/ios/AFNetworking/AFURLSessionManager.h"/>
    <source-file src="src/ios/AFNetworking/AFURLSessionManager.m"/>
    <header-file src="src/ios/AFNetworking/AFNetworking.h"/>

    <!-- UIKit+AFNetworking -->
    <header-file src="src/ios/UIKit+AFNetworking/AFNetworkActivityIndicatorManager.h"/>
    <source-file src="src/ios/UIKit+AFNetworking/AFNetworkActivityIndicatorManager.m"/>
    <header-file src="src/ios/UIKit+AFNetworking/UIActivityIndicatorView+AFNetworking.h"/>
    <source-file src="src/ios/UIKit+AFNetworking/UIActivityIndicatorView+AFNetworking.m"/>
    <header-file src="src/ios/UIKit+AFNetworking/UIAlertView+AFNetworking.h"/>
    <source-file src="src/ios/UIKit+AFNetworking/UIAlertView+AFNetworking.m"/>
    <header-file src="src/ios/UIKit+AFNetworking/UIButton+AFNetworking.h"/>
    <source-file src="src/ios/UIKit+AFNetworking/UIButton+AFNetworking.m"/>
    <header-file src="src/ios/UIKit+AFNetworking/UIImageView+AFNetworking.h"/>
    <source-file src="src/ios/UIKit+AFNetworking/UIImageView+AFNetworking.m"/>
    <header-file src="src/ios/UIKit+AFNetworking/UIProgressView+AFNetworking.h"/>
    <source-file src="src/ios/UIKit+AFNetworking/UIProgressView+AFNetworking.m"/>
    <header-file src="src/ios/UIKit+AFNetworking/UIRefreshControl+AFNetworking.h"/>
    <source-file src="src/ios/UIKit+AFNetworking/UIRefreshControl+AFNetworking.m"/>
    <header-file src="src/ios/UIKit+AFNetworking/UIWebView+AFNetworking.h"/>
    <source-file src="src/ios/UIKit+AFNetworking/UIWebView+AFNetworking.m"/>
    <header-file src="src/ios/UIKit+AFNetworking/UIImage+AFNetworking.h"/>
    <header-file src="src/ios/UIKit+AFNetworking/UIKit+AFNetworking.h"/>

    <!-- LeanCloud Official -->
    <framework src="src/ios/Frameworks/AVOSCloud.framework" custom="true"/>

    <!-- Other required frameworks -->
    <framework src="SystemConfiguration.framework"/>
    <framework src="MobileCoreServices.framework"/>
    <framework src="CoreTelephony.framework"/>
    <framework src="CoreLocation.framework"/>
    <framework src="libicucore.dylib"/>
  </platform>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="LeanPush">
        <param name="android-package" value="com.sum.cordova.leancloud.LeanPush"/>
        <param name="onload" value="true" />
      </feature>
      <feature name="LeanAnalytics">
        <param name="android-package" value="com.sum.cordova.leancloud.LeanAnalytics"/>
      </feature>
      <preference name="leancloud-appid" value="$LEAN_APP_ID"/>
      <preference name="leancloud-appkey" value="$LEAN_APP_KEY"/>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.INTERNET"/>
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.READ_PHONE_STATE" />
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
      <uses-permission android:name="android.permission.READ_LOGS" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
            <action android:name="android.intent.action.USER_PRESENT" />
        </intent-filter>
      </receiver>
      <service android:name="com.avos.avoscloud.PushService"/>
      <meta-data android:name="leancloud" android:value="LeanCloud"/>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"/>
    <source-file src="src/android/LeanApplication.java" target-dir="src/com/sum/cordova/leancloud"/>
    <source-file src="src/android/LeanPush.java" target-dir="src/com/sum/cordova/leancloud"/>
    <source-file src="src/android/LeanAnalytics.java" target-dir="src/com/sum/cordova/leancloud"/>
    <source-file src="src/android/leancloud/avoscloud-push-v3.12.2.jar" target-dir="libs" framework="true"/>
    <source-file src="src/android/leancloud/avoscloud-sdk-v3.12.2.jar" target-dir="libs" framework="true"/>
    <source-file src="src/android/leancloud/avoscloud-statistics-v3.12.2.jar" target-dir="libs" framework="true"/>
    <source-file src="src/android/leancloud/fastjson.jar" target-dir="libs" framework="true"/>
    <source-file src="src/android/leancloud/httpmime-4.2.4.jar" target-dir="libs" framework="true"/>
    <source-file src="src/android/leancloud/Java-WebSocket-1.3.1-leancloud.jar" target-dir="libs" framework="true"/>
    <source-file src="src/android/leancloud/okhttp-2.6.0-leancloud.jar" target-dir="libs" framework="true"/>
    <source-file src="src/android/leancloud/okio-1.6.0-leancloud.jar" target-dir="libs" framework="true"/>
  </platform>
</plugin>
